[submodule "epidemic_dissemination_logic"]
	path = epidemic_dissemination_logic
	url = https://github.com/afonsotmm/epidemic_dissemination_logic.git
[submodule "epidemic_dissemination_omnet_integration"]
	path = epidemic_dissemination_omnet_integration
	url = https://github.com/mLe0n0r/epidemic_dissemination_omnet_integration
[submodule "epidemic_dissemination_UI"]
	path = epidemic_dissemination_UI
	url = https://github.com/diogo0030/epidemic_dissemination_UI.git
[submodule "epidemic_dissemination_engine"]
	path = epidemic_dissemination_engine
	url = https://github.com/afonsotmm/epidemic_dissemination_engine.git
